.contact {
    @include container;
    padding: 5em 0;
    h1{
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;

    @supports (display: grid) {
        @include mq-m {
          display: grid;
    
          grid-template-columns: 50% 50%; 
    
          grid-column-gap: 1em;
          grid-template-areas:
            "name     email"
            "message  message"
            "sendmail button";
    
            .name {
              grid-area: name;
            }
    
            .email {
              grid-area: email;
            }
    
            .message {
              grid-area: message;
              textarea {
                height: 10em;
              }
            }

            .sendmail {
                grid-area: sendmail;
              }
    
            .button {
              grid-area: button;
            }
        }
      }
    }

label {
    display: block;
    margin-top: 1em;
    color: #606060;
    font-size: 1.2rem;
}

input, 
textarea {
    box-sizing: border-box;
    display: block;
    padding: .75em;
    width: 100%;
    background: lighten(#fbfbfc, 7%);
    border: 1px solid #e8e9eb;
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    width: auto;
    margin-top: 1em;
    margin-left: auto;
    background: #000021;
    border: none;
    padding: .5em 1.5em;
    color: #fff;
}


.contact h1 {
    text-align: center;
    font-size: 2.4rem; 
    color: #000021;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 18px;
}

.contact h1:before {
    bottom: 0;
    width: 100px;
    padding: 4px 0 5px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #737373;
}

.contact h1:after, .contact h1:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.contact h1:after {
    bottom: 5px;
    width: 200px;
    height: 1px;
    background-color: #303030;
}

.sendmail {
    font-size: 1.4rem;
}