@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Lato:400,700|Raleway:300,400,700'");

$bg-color: #000021; 
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

// #030331 blå 

body {
    font-family: $raleway;
    overflow-x: hidden;  
}

img {
    max-width: 100%;
    display: block;
}